<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-2"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <title>Section</title>
</head>
<body bgcolor="white">
<div th:replace="fragments::header"></div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a class="white" href="/">
                <b>
                    <span style="color:white;">
                        <span th:text="${@sectionController.currentCategoryName}"></span>
                    </span>
                </b>
            </a>
        </div>

        <div class="col-xs-1">
            <span style="color:white;">></span>
        </div>

        <div class="col-sm-2">
            <a class="white"><span>Sections</span></a>
        </div>

    </div>
</div>
<br/>
<div th:replace="fragments::categorySections"></div>
<div th:if="${@memberController.admin}">
    <span th:replace="fragments::addsection"></span>
</div>
<div th:replace="fragments::footer"></div>
</body>
</html>
