<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-2"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>


    <title>Phorum</title>
</head>
<body>
<div th:fragment="header">
    <table class="header">
        <tr>
            <td style="text-align: left; color: white;">Welcome to <a
                    class="white" href="/"> GAMESTUDIO</a>.
            </td>
            <td style="text-align: right; color: white;"><span> <a
                    class="white" href="/login" th:unless="${@userController.logged}">
						Login</a> <span th:unless="${@userController.logged}">or</span> <a
                    class="white" href="/register"
                    th:unless="${@userController.logged}"> Register</a>
			</span> <span th:if="${@userController.logged}"> You are logged as <a class="white"
                                                                                  href="/profile"
                                                                                  th:text="${@userController.loggedUsername}"></a> <a
                    class="white" href="/logout">LOGOUT</a>
			</span></td>
        </tr>
    </table>
    <hr/>
</div>

<div th:fragment="score(gameName)">

    <table class="half_table">
        <tr>
            <td colspan="2"><b>Hall of Fame</b></td>
        </tr>

        <tr>
            <td><b>Player</b></td>
            <td><b>Points</b></td>
        </tr>

        <tr th:each="score: ${@scoreService.getBestScores(gameName)}">
            <!-- must be whole name, because of parameter -->
            <td th:text="${score.username}"/>
            <td th:text="${score.points}"/>
        </tr>
    </table>

</div>


<div th:fragment="comment(gameName)">
    <h2 style="color: white;" class="content">Comments:</h2>
    <table class="commentBig" style="width: 40%; table-layout: fixed;">
        <tr>
            <td style="padding: 0px;">

                <table class="comment" style="width: 100%; table-layout: fixed;"
                       th:each="comment: ${@commentService.getComments(gameName)}">
                    <tr>
                        <td style="width: 45%;"><span
                                style="text-decoration: underline; font-size: medium;"
                                th:text="${comment.username}"></span></td>
                        <td style="width: 45%;"><span style="font-size: medium;"
                                                      th:text="${#dates.format(comment.added, 'dd-MM-yyyy HH:mm:ss')}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;" align="left" colspan="2"
                            th:text="${comment.comm}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="commentsOfUser(userName)">
    <h2 style="color: white;" class="content">Comments:</h2>
    <table class="commentBig" style="width: 40%; table-layout: fixed;">
        <tr>
            <td style="padding: 0px;">

                <table class="comment" style="width: 100%; table-layout: fixed;"
                       th:each="comment: ${@commentService.getCommentsOfUser(userName)}">
                    <tr>
                        <td style="width: 30%;"><span
                                style="text-decoration: underline; font-size: medium;"
                                th:text="${comment.username}"></span></td>
                        <td style="width: 30%;"><span>commented in game: </span><span
                                style="font-size: medium;" th:text="${comment.game}"></span></td>
                        <td style="width: 30%;"><span style="font-size: medium;"
                                                      th:text="${#dates.format(comment.added, 'dd-MM-yyyy HH:mm:ss')}"></span>
                        </td>
                        <td style="width: 10%;"><a class="tooltip"
                                                   th:href='${"/deletecomment?id="+comment.id}'>X <span
                                class="tooltiptext">DELETE COMMENT</span></a></td>
                    </tr>
                    <tr>
                        <td style="width: 100%;" align="left" colspan="4"
                            th:text="${comment.comm}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="commentNew(gameName)">

    <h2 style="color: white;" class="content">Comments:</h2>
    <table>
        <tr>
            <td>
                <div class="comment"
                     th:each="comment: ${@commentService.getComments(gameName)}">
                    <div>
						<span><span style="text-decoration: underline;"
                                    th:text="${comment.username}"></span></span> <span
                            th:text="${#dates.format(comment.added, 'dd-MM-yyyy HH:mm:ss')}"></span>
                    </div>
                    <div>
                        <span th:text="${comment.comm}"></span>
                    </div>
                    <br/>

                </div>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="addcomment(gameName)">
    <h2 style="color: white;" class="content">Add Comment</h2>
    <form action="/addcomment" method="post">
        <!-- method post - NOT show password in URL -->
        <input type="hidden" name="game" th:value="${gameName}"/>
        <table class="game">

            <tr>
                <td colspan="2"><textarea name="comm"
                                          placeholder="eg. Cool Game"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit"
                                                      value="Add Comment"/></td>
            </tr>
            <tr th:if="${commentMessage}">
                <td colspan="2" align="center">
                    <div th:text="${commentMessage}" class="error-message">Message</div>
                </td>
            </tr>
        </table>
    </form>

</div>

<div th:fragment="addrating(gameName)">
    <h2 th:if="${@userController.logged}">Rate this game!</h2>
    <form action="/addrating" method="post">
        <!-- method post - NOT show password in URL -->
        <input type="hidden" name="game" th:value="${gameName}"/>
        <table style="border: hidden;">
            <tr th:if="${@userController.logged}">
                <td><label>Perfect!</label> <input type="radio" name="rating"
                                                   value="5"/> <input type="radio" name="rating" value="4"/> <input
                        type="radio" name="rating" value="3"/> <input type="radio"
                                                                      name="rating" value="2"/> <input type="radio"
                                                                                                       name="rating"
                                                                                                       value="1"/>
                    <label>Poor</label></td>
            </tr>

            <tr th:if="${@userController.logged}">
                <td align="center"><input type="submit" value="Add Rating"/>
                </td>
            </tr>
            <tr>
                <td>Average rating of this game: <span
                        th:text="${@ratingController.avg(gameName)}"> </span>
                </td>
            </tr>
        </table>
    </form>

</div>

<span th:fragment="getAvg(gameName)"> <span
        th:text="${@ratingController.avg(gameName)}"> </span>
</span>

<div th:fragment="getrating(gameName)">

    <table class="half_table">
        <tr>
            <td colspan="2"><b>RATINGS</b></td>
        </tr>

        <tr th:each="rating: ${@ratingService.getRatings(gameName)}">
            <!-- must be whole name, because of parameter -->
            <td th:text="${rating.username}"/>
            <td th:text="${rating.rating}"/>
        </tr>
    </table>
    <hr/>
</div>

<div style="width:100%;" id="footer" th:fragment="footer">
    <span style="text-align: center; color: white;font-size: small;">
           Created by Sechuani IT Crew
    </span>
</div>

<div th:fragment="categories">

    <div class="container">
        <div class="row" th:each="category: ${@ss.getCategories()}">
            <span id="categoryIndex" th:text="${category.name}"></span>

            <span th:if="${@memberController.admin}" style="margin-left:10px;" id="categoryIndex2">
                <a class="mytooltip" th:href='${"/category?id="+category.id}' style="color:white;">+
                    <span class="mytooltiptext">MANAGE THIS CATEGORY</span>
                </a>
            </span>

            <span th:if="${@memberController.admin}" style="margin-left:10px;" id="categoryIndex3">
                <a class="mytooltip" th:href='${"/deletecategory?id="+category.id}' style="color:white;">DEL
                    <span class="mytooltiptext">DELETE CATEGORY</span>
                </a>
            </span>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3" id="sectionIndex" th:each="section: ${category.getSections()}">
                        <a th:href='${"/section?id="+section.id}'>
                            <span style="color:white;" th:text="${section.name}"></span></a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="sections">
    <h2 style="color: white;" class="content">Sections:</h2>
    <table class="commentBig" style="width: 40%; table-layout: fixed;">
        <tr>
            <td style="padding: 0px;">

                <table class="comment" style="width: 100%; table-layout: fixed;"
                       th:each="section: ${@ss.getSections()}">
                    <tr>
                        <td style="width: 45%;"><a th:href='${"/section?id="+section.id}'><span
                                style="text-decoration: underline; font-size: medium;"
                                th:text="${section.name}"></span></a></td>
                        <td style="width: 45%;"><span style="font-size: medium;"
                                                      th:text="${section.getMember().getUsername()}"></span></td>
                    </tr>
                    <tr>
                        <td style="width: 100%;" align="left" colspan="1"
                            th:text="${section.description}"></td>
                        <td>
                            <span>Topics: </span><span th:text="${@ts.getCount(section)}"> </span>

                        </td>
                    </tr>

                    <table class="comment" style="width: 40%; table-layout: fixed;"
                           th:each="topic: ${section.getTopics()}">
                        <tr>
                            <td>
                                <span th:text="${topic.title}"></span>
                            </td>
                        </tr>
                    </table>

                </table>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="categorySections">
    <h2 style="color: white;" class="content">Sections:</h2>
    <div class="container">
        <div class="row" id="categorySection"
             th:each="section: ${@ss.getSections(@sectionController.getCurrentCategory())}">
            <div class="col-sm">
                <a th:href='${"/section?id="+section.id}'><span
                        style="text-decoration: underline; font-size: medium; color:white;"
                        th:text="${section.name}"></span></a>
            </div>
            <div class="col-sm">
                <span style="font-size: medium;"
                      th:text="${section.getMember().getUsername()}"></span>
            </div>
            <div class="col-sm">

                <span><a class="mytooltip"
                         th:href='${"/deletesection?id="+section.id}' style="color:white;">X
                                <span class="mytooltiptext">DELETE SECTION</span></a>
                                </span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm" th:text="${section.description}">

                    </div>
                    <div class="col-sm">
                        <span>Topics: </span><span th:text="${@ts.getCount(section)}"> </span>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

<!--
<table class="commentBig" style="width: 40%; table-layout: fixed;">
    <tr>
        <td style="padding: 0px;">

            <table class="comment" style="width: 100%; table-layout: fixed;"
                   th:each="section: ${@ss.getSections(@sectionController.getCurrentCategory())}">
                <tr>
                    <td style="width: 45%;"><a th:href='${"/section?id="+section.id}'><span
                            style="text-decoration: underline; font-size: medium;"
                            th:text="${section.name}"></span></a></td>
                    <td style="width: 45%;"><span style="font-size: medium;"
                                                  th:text="${section.getMember().getUsername()}"></span></td>
                    <td rowspan="2">
                            <span><a class="mytooltip"
                                     th:href='${"/deletesection?id="+section.id}'>X
                                <span class="mytooltiptext">DELETE SECTION</span></a>
                                </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;" align="left" colspan="1"
                        th:text="${section.description}"></td>
                    <td>
                        <span>Topics: </span><span th:text="${@ts.getCount(section)}"> </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
-->

<div th:fragment="topics">
    <h2 style="color: white;" class="content">Topics:</h2>
    <div class="container">

        <div class="row" id="rowBootstrap"
             th:each="topic: ${@ts.getTopics(@sectionController.getCurrentSection())}">

            <div class="col-sm-1">
                <span>
                            <a class="mytooltip"
                               th:href='${"/topic?id="+topic.id}'>AHOJ
                                <span class="mytooltiptext">PROMOTE TO ADMIN</span></a>
                        </span>
            </div>
            <div class="col-sm-6">
                <a class="mytooltip" th:href='${"/topic?id="+topic.id}'>
                    <span style="color:white;" th:text="${topic.title}"></span>
                    <span style="color:white;" class="mytooltiptext">
                        <span th:text="${topic.content}"></span>
                    </span>
                </a>
            </div>

            <div class="col-sm">
                <span>Replies: </span><span th:text="${@ps.getCount(topic)}"> </span>
            </div>
            <div class="col-sm">
                <span th:text="${topic.getMember().getUsername()}"></span>
            </div>
            <div class="col-sm">
                <span th:text="${#dates.format(topic.creationDate, 'dd-MM-yyyy')}"></span>
            </div>
            <div class="col-sm">
                <span th:if="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    <a class="mytooltip" style="color:red" th:href='${"/deletetopic?id="+topic.id}'>DEL
                        <span class="mytooltiptext">DELETE TOPIC</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="posts">
    <h2 style="color: white;" class="content">Posts:</h2>
    <div class="container">
        <div class="row" th:each="post: ${@ps.getPosts(@topicController.getCurrentTopic())}">
            <div class="container">
                <div class="row" id="rowPost">
                    <div class="col-sm-2">
                        <span style="font-size: medium; color: white"
                              th:text="${post.getMember().getUsername()}"></span>
                    </div>
                    <div class="col-sm-6">
                        <div class="row" style="color: white">
                            <span th:text="${#dates.format(post.creationDate, 'MM/dd/yyyy')}"></span>
                        </div>
                        <div class="row" style="color: white">
                            <span th:text="${post.content}"></span></div>
                    </div>
                    <div class="col-sm-1">
                        <span th:if="${@postController.isMembersPost(post.getMember().getId())}">
                            <a style="color:red" class="mytooltip" th:href='${"/deletepost?id="+post.id}'>DEL
                                <span class="mytooltiptext">DELETE POST</span>
                            </a>
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <span th:if="${@postController.isMemberLogged()}">
                            <span th:unless="${@postController.hasMemberLiked(post.id)}">
                                <a style="color:red" class="mytooltip" th:href='${"/likepost?id="+post.id}'>LIKE
                                    <span class="mytooltiptext">LIKE POST</span>
                                </a>
                            </span>
                        </span>
                        <span th:if="${@postController.hasMemberLiked(post.id)}">
                            <a style="color:red" class="mytooltip" th:href='${"/unlikepost?id="+post.id}'>UNLIKE
                                <span class="mytooltiptext">UNLIKE POST</span>
                            </a>
                        </span>
                    </div>
                    <div class="col-sm-1" style="color: white">
                        <span>Likes: </span><span th:text="${@ps.getLikesCount(post)}"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="addcategory">
    <form action="/addcategory" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div style="margin-top:15px;" class="row">
                <div style="margin-left:135px;" class="col-sm-2">
                    <input type="text" name="name" required="required" placeholder="Name of new category.."/>
                </div>
                <div class="col-sm-2">
                    <input type="submit"
                           value="ADD Category"/>
                </div>
            </div>
        </div>
    </form>
</div>





<!--
        <table>
            <tr>
                <td colspan="2"><label><b>ADD CATEGORY</b></label></td>
            </tr>
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" name="name" required="required"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit"
                                                      value="ADD Category"/></td>
            </tr>
        </table>
    </form>
</div>
-->

<div th:fragment="addsection">
    <form action="/addsection" method="post"> <!-- method post - NOT show password in URL -->
        <table>
            <tr>
                <td colspan="2"><label><b>ADD SECTION</b></label></td>
            </tr>
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" name="name" required="required"/></td>
            </tr>
            <tr>
                <td><label>Description:</label></td>
                <td colspan="2"><textarea name="description"
                                          placeholder="Short description of the section" required="required"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit"
                                                      value="ADD Section"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:fragment="addtopicc">
    <form action="/addtopic" method="post"> <!-- method post - NOT show password in URL -->
        <table>
            <tr>
                <td colspan="2"><label><b>ADD TOPIC</b></label></td>
            </tr>
            <tr>
                <td><label>TITLE:</label></td>
                <td><input type="text" name="title" required="required"/></td>
            </tr>
            <tr>
                <td><label>Description:</label></td>
                <td colspan="2"><textarea name="content"
                                          placeholder="Write the description of your post.."
                                          required="required"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit"
                                                      value="ADD Topic"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:fragment="addtopic">
    <form action="/addtopic" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">

            <div class="row" id="rowAddTopic">

                <div class="container">

                    <div class="row" style="display: flex;
            align-items: center;">

                        <div class="col-sm-2">

                        </div>
                        <div style="padding-left:0px" class="col-sm-8">
                            <div class="row">
                                <textarea style="height: 55px;" name="title"
                                          placeholder="Write the title of your topic.."
                                          required="required"></textarea>
                            </div>



                            <div class="row" id="marginRow">
                                <textarea style="height: 120px;" name="content"
                                          placeholder="Write the description of your topic.."
                                          required="required"></textarea>
                            </div>
                        </div>


                        <div class="col-sm-2 center-block text-center">
                            <span><input id="button2" type="submit" value="ADD"/>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="addpost">
    <form action="/addpost" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div class="row" id="rowAddPost" style="display: flex;
            align-items: center;">
                <div class="col-sm-2">

                </div>
                <div style="padding-left:0px" class="col-sm-8">
                    <textarea style="height: 80px;" name="content"
                              placeholder="Write the content of your post.."
                              required="required"></textarea>
                </div>
                <div class="col-sm-2 center-block text-center">
                    <span><input id="button" type="submit"
                                 value="ADD"/>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="members">
    <h2 style="color: white;" class="content">Members:</h2>
    <table class="commentBig" style="width: 40%; table-layout: fixed;">
        <tr>
            <td style="padding: 0px;">

                <table class="comment" style="width: 100%; table-layout: fixed;"
                       th:each="member: ${@ms.getMembers()}">
                    <tr>
                        <td><span th:text="${member.username}"></span></td>
                        <td><span th:text="${member.email}"></span></td>
                        <td><span th:text="${member.rank}"></span></td>
                        <td>
                        <span>
                            <a class="mytooltip"
                               th:href='${"/banmember?id="+member.id}'>X
                                <span class="mytooltiptext">BAN THIS MEMBER</span></a>
                        </span>
                        </td>
                        <td>
                        <span>
                            <a class="mytooltip"
                               th:href='${"/promotemember?id="+member.id}'>↑
                                <span class="mytooltiptext">PROMOTE TO ADMIN</span></a>
                        </span>
                        </td>
                        <td>
                        <span>
                            <a class="mytooltip"
                               th:href='${"/deletemember?id="+member.id}'>DEL
                                <span class="mytooltiptext">DELETE MEMBER ACCOUNT</span></a>
                        </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>