<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-2"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/stylesheet.css"/>

    <title>Phorum</title>
</head>
<body>
<div th:fragment="header" id="header">

    <h1>PHORUM!</h1>
    <form method="post" action="/findpost">
        <div class="container">
            <div class="row" style="display: flex;
                 align-items: center;">
                <div class="col-sm-2">
                    <input style="height:2rem;" type="text" class="form-control" name="searchText" id="searchText"
                           placeholder="Enter text.."/>
                </div>
                <div style="text-align:left" class="col-sm-2">
                    <button type="submit" id="button8" style="font-size: 1.2rem;">SEARCH</button>
                </div>
                <div style="text-align:right;font-size:1rem;" class="col-sm-8">
                    <div th:unless="${@memberController.logged}">
                        <a class="white" href="/loginmember">Login</a>
                        <span style="color:white;">or</span>
                        <a class="white" href="/registermember">Register</a>
                    </div>
                    <div th:if="${@memberController.logged}">
			            <span style="color:white;" th:if="${@memberController.logged}"> You are logged as
                            <u><span class="white" th:text="${@memberController.loggedUsername}">
                            </span></u><span>.</span>
                            <a class="white" href="/logoutmember">Logout</a>
			            </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div style="width:100%;" id="footer" th:fragment="footer">
    <span style="text-align: center; color: white;font-size: small;">
           Created by Sechuani IT Crew
    </span>
    <br/>
    <u><a
            th:if="${@memberController.admin}" style="text-align: center; color: white;font-size: small;" href="/accessadminpanel">Admin Control Panel </a></u>
    <br/>
</div>

<div th:fragment="categories">

    <div style="padding-left:210px;" class="container">
        <div class="row" th:each="category: ${@ss.getCategories()}">

            <div class="col-sm-8">
                <span id="categoryIndex" th:text="${category.name}"></span>
            </div>

            <div class="col-xs">
                <span th:if="${@memberController.admin}" style="margin-left:10px;" id="categoryIndex2">
                <a class="mytooltip" th:href='${"/category?id="+category.id}' style="color:white;">
                    <img style="width:30px;height:30px;" src="images\manage.png"/>
                    <span class="mytooltiptext">MANAGE THIS CATEGORY</span>
                </a>
                </span>
            </div>

            <div class="col-xs">
                <span th:if="${@memberController.admin}" style="margin-left:10px;" id="categoryIndex3">
                <a class="mytooltip" th:href='${"/deletecategory?id="+category.id}' style="color:white;">
                    <img style="width:30px;height:30px;" src="images\bin.png"/>
                    <span class="mytooltiptext">DELETE CATEGORY</span>
                </a>
                </span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3 " id="sectionIndex" th:each="section: ${category.getSections()}">
                        <a th:href='${"/section?id="+section.id}'>
                            <div style="width:175px; height:150px;">
                                <span style="color:white; font-size:1.2rem; position:relative;left:8px;top:8px;"
                                      th:text="${section.name}"></span>
                                <br/>
                                <div style="color:white;font-weight: normal;line-height:20px; font-size:small; position: relative;left:8px;top:8px; "
                                     th:text="${section.description}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>

<div th:fragment="sections">
    <h2 style="color: white;" class="content">Sections:</h2>
    <table class="commentBig" style="width: 40%; table-layout: fixed;">
        <tr>
            <td style="padding: 0px;">

                <table class="comment" style="width: 100%; table-layout: fixed;"
                       th:each="section: ${@ss.getSections()}">
                    <tr>
                        <td style="width: 45%;"><a th:href='${"/section?id="+section.id}'><span
                                style="text-decoration: underline; font-size: medium;"
                                th:text="${section.name}"></span></a></td>
                        <td style="width: 45%;"><span style="font-size: medium;"
                                                      th:text="${section.getMember().getUsername()}"></span></td>
                    </tr>
                    <tr>
                        <td style="width: 100%;" align="left" colspan="1"
                            th:text="${section.description}"></td>
                        <td>
                            <span>Topics: </span><span th:text="${@ts.getCount(section)}"> </span>

                        </td>
                    </tr>

                    <table class="comment" style="width: 40%; table-layout: fixed;"
                           th:each="topic: ${section.getTopics()}">
                        <tr>
                            <td>
                                <span th:text="${topic.title}"></span>
                            </td>
                        </tr>
                    </table>

                </table>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="categorySections">

    <div class="container">

        <div class="row" id="categorySection"
             th:each="section: ${@ss.getSections(@sectionController.getCurrentCategory())}">
            <div class="col-sm"
                 th:text="${section.name}">
            </div>
            <div class="col-sm" th:text="${section.description}">

            </div>
            <div class="col-sm">
                <span>Topics: </span><span th:text="${@ts.getCount(section)}"> </span>
            </div>
            <div class="col-sm">
                <span>
                    <a class="mytooltip" th:href='${"/deletesection?id="+section.id}' style="color:white;">DEL
                        <span class="mytooltiptext">DELETE SECTION</span>
                    </a>
                </span>
            </div>
            <div class="col-sm">
                <span>
                    <a class="mytooltip" th:href='${"/editsection?id="+section.id}' style="color:white;">EDIT
                        <span class="mytooltiptext">EDIT SECTION</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="topics">

    <div class="container">
        <div class="row" id="rowBootstrap"
             th:each="topic: ${@ts.getTopics(@sectionController.getCurrentSection())}">

            <div class="col-xs-1">
                <img style="width:30px;height:30px;" src="images\topic3.png"/>
            </div>
            <div class="col-sm-5">
                <a class="mytooltip" th:href='${"/topic?id="+topic.id}'>
                    <span style="color:white; font-size:25px;" th:text="${topic.title}"></span>
                    <span style="color:white;" class="mytooltiptext">
                        <span th:text="${topic.content}"></span>
                    </span>
                </a>
            </div>

            <div class="col-sm">
                <span><img style="width:30px;height:30px;" src="images\reply.png"/></span>
                <span style="font-size:medium;" th:text="${@ps.getCount(topic)}"> </span>
            </div>
            <div class="col-sm-2">
                <span th:text="${topic.getMember().getUsername()}"></span>
            </div>
            <div class="col-sm-2">
                <span th:with="date=${@topicController.getLastPostDate(topic)}">
                    <a class="mytooltip">

                        <span th:if="${date!=null}" th:text="${#dates.format(date, 'dd-MM-yyyy')}"></span>
                        <span class="mytooltiptext">LAST POST</span>
                    </a>
                    <span th:if="${date==null}">N/A</span>
                </span>
            </div>
            <div class="col-xs">
                <span th:if="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    <a class="mytooltip" style="color:red" th:href='${"/edittopic?id="+topic.id}'>
                        <img style="width:30px;height:30px;" src="images\edit.png"/>
                        <span class="mytooltiptext">EDIT TOPIC</span>
                    </a>
                </span>
                <span style="color:#4A5B76;" th:unless="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    --------
                </span>
            </div>
            <div class="col-xs">
                <span th:if="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    <a class="mytooltip" style="color:red" th:href='${"/deletetopic?id="+topic.id}'>
                        <img style="width:30px;height:30px;" src="images\bin.png"/>
                        <span class="mytooltiptext">DELETE TOPIC</span>
                    </a>
                </span>
                <span style="color:#4A5B76;" th:unless="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    -------
                </span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="foundtopics">
    <h2 style="color: white;" class="content">Topics:</h2>
    <div class="container">

        <div class="row" id="rowBootstrap2"
             th:each="topic: ${@ts.findTopics(@postController.getSearchText())}">

            <div class="col-xs-1">
                <img style="width:30px;height:30px;" src="images\topic3.png"/>
            </div>
            <div class="col-sm-5">
                <a class="mytooltip" th:href='${"/topic?id="+topic.id}'>
                    <span style="color:white;" th:text="${topic.title}"></span>
                    <span style="color:white;" class="mytooltiptext">
                        <span th:text="${topic.content}"></span>
                    </span>
                </a>
            </div>

            <div class="col-sm">
                <span><img style="width:30px;height:30px;" src="images\reply.png"/></span><span
                    th:text="${@ps.getCount(topic)}"> </span>
            </div>
            <div class="col-sm-2">
                <span th:text="${topic.getMember().getUsername()}"></span>
            </div>
            <div class="col-sm-2">
                <span th:text="${#dates.format(topic.creationDate, 'dd-MM-yyyy')}"></span>
            </div>
            <div class="col-xs">
                <span th:if="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    <a class="mytooltip" style="color:red" th:href='${"/edittopic?id="+topic.id}'>
                        <img style="width:30px;height:30px;" src="images\edit.png"/>
                        <span class="mytooltiptext">EDIT TOPIC</span>
                    </a>
                </span>
                <span style="color:#4A5B76;" th:unless="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    --------
                </span>
            </div>
            <div class="col-xs">
                <span th:if="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    <a class="mytooltip" style="color:red" th:href='${"/deletetopic?id="+topic.id}'>
                        <img style="width:30px;height:30px;" src="images\bin.png"/>
                        <span class="mytooltiptext">DELETE TOPIC</span>
                    </a>
                </span>
                <span style="color:#4A5B76;" th:unless="${@topicController.isMembersTopic(topic.getMember().getId())}">
                    --------
                </span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="posts">
    <div class="container">
        <div class="row" th:each="post: ${@ps.getPosts(@topicController.getCurrentTopic())}">
            <div class="container">
                <div class="row" id="rowPost">
                    <div class="col-sm-1">
                        <span style="font-size: medium; color: white"
                              th:text="${post.getMember().getUsername()}"></span>
                    </div>

                    <div class="col-sm-6">
                        <div class="row" style="color: white">
                            <span th:text="${#dates.format(post.creationDate, 'MM/dd/yyyy - HH:mm')}"></span>
                        </div>
                        <div class="row" style="color: white">
                            <span th:text="${post.content}"></span></div>
                    </div>

                    <div class="col-sm">
                        <span th:if="${@postController.isMemberLogged()}">
                            <span th:unless="${@postController.hasMemberLiked(post.id)}">
                                <a style="color:red" class="mytooltip" th:href='${"/likepost?id="+post.id}'>
                                    <img style="width:30px;height:30px;" src="images\like.png"/>
                                    <span class="mytooltiptext">LIKE POST</span>
                                </a>
                            </span>
                        </span>
                        <span th:if="${@postController.hasMemberLiked(post.id)}">
                            <a style="color:red" class="mytooltip" th:href='${"/unlikepost?id="+post.id}'>
                                <img style="width:30px;height:30px;" src="images\unlike.png"/>
                                <span class="mytooltiptext">UNLIKE POST</span>
                            </a>
                        </span>
                    </div>

                    <div class="col-sm-3" style="color: white">
                        <span><span th:text="${@ps.getLikesCount(post)}"></span> people has liked this post.</span>
                    </div>

                    <div class="col-xs">
                        <span th:if="${@postController.isMembersPost(post.getMember().getId())}">
                            <a style="color:red" class="mytooltip" th:href='${"/editpost?id="+post.id}'>
                                <img style="width:30px;height:30px;" src="images\edit.png"/>
                                <span class="mytooltiptext">EDIT POST</span>
                            </a>
                        </span>
                        <span style="color:#4A5B76;" th:unless="${@postController.isMembersPost(post.getMember().getId())}">
                            -------
                        </span>
                    </div>
                    <div class="col-xs">
                        <span th:if="${@postController.isMembersPost(post.getMember().getId())}">
                            <a style="color:red" class="mytooltip" th:href='${"/deletepost?id="+post.id}'>
                                <img style="width:30px;height:30px;" src="images\bin.png"/>
                                <span class="mytooltiptext">DELETE POST</span>
                            </a>
                        </span>
                        <span style="color:#4A5B76;" th:unless="${@postController.isMembersPost(post.getMember().getId())}">
                            --------
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="foundposts">
    <h2 style="color: white;" class="content">Posts:</h2>
    <div class="container">
        <div class="row" th:each="post: ${@ps.findPosts(@postController.getSearchText())}">
            <div class="container">
                <div class="row" id="rowFoundPost">
                    <div class="col-sm-1">
                        <span style="font-size: medium; color: white"
                              th:text="${post.getMember().getUsername()}"></span>
                    </div>

                    <div class="col-sm-6">
                        <div class="row" style="color: white">
                            <span th:text="${#dates.format(post.creationDate, 'MM/dd/yyyy')}"></span>
                        </div>
                        <div class="row" style="color: white">
                            <span th:text="${post.content}"></span></div>
                    </div>

                    <div class="col-sm">
                        <span th:if="${@postController.isMemberLogged()}">
                            <span th:unless="${@postController.hasMemberLiked(post.id)}">
                                <a style="color:red" class="mytooltip" th:href='${"/likepost?id="+post.id}'>
                                    <img style="width:30px;height:30px;" src="images\like.png"/>
                                    <span class="mytooltiptext">LIKE POST</span>
                                </a>
                            </span>
                        </span>
                        <span th:if="${@postController.hasMemberLiked(post.id)}">
                            <a style="color:red" class="mytooltip" th:href='${"/unlikepost?id="+post.id}'>
                                <img style="width:30px;height:30px;" src="images\unlike.png"/>
                                <span class="mytooltiptext">UNLIKE POST</span>
                            </a>
                        </span>
                    </div>

                    <div class="col-sm-3" style="color: white">
                        <span><span th:text="${@ps.getLikesCount(post)}"></span> people has liked this post.</span>
                    </div>

                    <div class="col-xs">
                        <span th:if="${@postController.isMembersPost(post.getMember().getId())}">
                            <a style="color:red" class="mytooltip" th:href='${"/editpost?id="+post.id}'>
                                <img style="width:30px;height:30px;" src="images\edit.png"/>
                                <span class="mytooltiptext">EDIT POST</span>
                            </a>
                        </span>
                        <span style="color:#4A5B76;" th:unless="${@postController.isMembersPost(post.getMember().getId())}">
                            --------
                        </span>
                    </div>

                    <div class="col-xs">
                        <span th:if="${@postController.isMembersPost(post.getMember().getId())}">
                            <a style="color:red" class="mytooltip" th:href='${"/deletepost?id="+post.id}'>
                                <img style="width:30px;height:30px;" src="images\bin.png"/>
                                <span class="mytooltiptext">DELETE POST</span>
                            </a>
                        </span>
                        <span style="color:#4A5B76;" th:unless="${@postController.isMembersPost(post.getMember().getId())}">
                            --------
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="addcategory">
    <form action="/addcategory" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div style="margin-top:15px;" class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-2">
                    <input type="text" style="height:41px;" name="name" required="required"
                           placeholder="New category.."/>
                </div>
                <div class="col-sm-2">
                    <input type="submit" id="button7"
                           value="ADD Category"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="addsection">
    <form action="/addsection" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div class="row" id="rowAddSection">
                <div class="container">
                    <div class="row" style="display: flex;
            align-items: center;">
                        <div class="col-sm-2">
                        </div>
                        <div style="padding-left:0px" class="col-sm-8">
                            <div class="row">
                                <textarea style="height: 55px;" name="name"
                                          placeholder="Write the name of your section.."
                                          required="required"></textarea>
                            </div>
                            <div class="row" id="marginRow3">
                                <textarea style="height: 120px;" name="description"
                                          placeholder="Write the description of your section.."
                                          required="required"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-2 center-block text-center">
                            <span><input id="button5" type="submit" value="ADD"/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="editsection">
    <form action="/updatesection" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div class="row" id="rowEditSection">
                <div class="container">
                    <div class="row" style="display: flex;
            align-items: center;">
                        <div class="col-sm-2">
                        </div>
                        <div style="padding-left:0px" class="col-sm-8">
                            <div class="row">
                                <textarea style="height: 55px;" name="name"
                                          placeholder="Edit the name of your section.."
                                          required="required"></textarea>
                            </div>
                            <div class="row" id="marginRow4">
                                <textarea style="height: 120px;" name="description"
                                          placeholder="Edit the description of your section.."
                                          required="required"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-2 center-block text-center">
                            <span><input id="button6" type="submit" value="EDIT"/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="addtopic">
    <form action="/addtopic" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div class="row" id="rowAddTopic">
                <div class="container">
                    <div class="row" style="display: flex; align-items: center;">
                        <div class="col-sm-1">
                        </div>
                        <div style="padding-left:0px" class="col-sm-8">
                            <div class="row">
                                <textarea style="height: 55px;" name="title"
                                          placeholder="Write the title of your topic.."
                                          required="required"></textarea>
                            </div>
                            <div class="row" id="marginRow">
                                <textarea style="height: 120px;" name="content"
                                          placeholder="Write the description of your topic.."
                                          required="required"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-2 center-block text-center">
                            <span><input id="button2" type="submit" value="ADD"/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="edittopic">
    <form action="/updatetopic" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div class="row" id="rowEditTopic">
                <div class="container">
                    <div class="row" style="display: flex;
            align-items: center;">
                        <div class="col-sm-2">
                        </div>
                        <div style="padding-left:0px" class="col-sm-8">
                            <div class="row">
                                <textarea th:text="${@ts.getTopic(@topicController.getCurrentTopicId()).getTitle()}"
                                          style="height: 55px;" name="title"
                                          placeholder="Edit the title of your topic.."
                                          required="required"></textarea>
                            </div>
                            <div class="row" id="marginRow2">
                                <textarea th:text="${@ts.getTopic(@topicController.getCurrentTopicId()).getContent()}"
                                          style="height: 120px;" name="content"
                                          placeholder="Edit the description of your topic.."
                                          required="required"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-2 center-block text-center">
                            <span><input id="button4" type="submit" value="EDIT"/>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="addpost">
    <form action="/addpost" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div class="row" id="rowAddPost" style="display: flex;
            align-items: center;">
                <div class="col-sm-1">

                </div>
                <div style="padding-left:0px" class="col-sm-8">
                    <textarea style="height: 80px;width:548px;" name="content"
                              placeholder="Write the content of your post.."
                              required="required"></textarea>
                </div>
                <div class="col-sm-2 center-block text-center">
                    <span><input id="button" type="submit"
                                 value="ADD"/>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="editpost">
    <form action="/updatepost" method="post"> <!-- method post - NOT show password in URL -->
        <div class="container">
            <div class="row" id="rowEditPost" style="display: flex;
            align-items: center;">
                <div class="col-sm-2">

                </div>
                <div style="padding-left:0px" class="col-sm-8">
                    <textarea th:text="${@ps.getPost(@postController.getCurrentPostId()).getContent()}"
                              style="height: 80px;" name="content"
                              placeholder="Edit your post.."
                              required="required"></textarea>
                </div>
                <div class="col-sm-2 center-block text-center">
                    <span><input id="button3" type="submit"
                                 value="EDIT"/>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="members">
    <h2 style="color: white;" class="content">Members:</h2>
    <div class="container">
        <div class="row" id="rowMember">
            <div class="col-sm-4">
                <span style="font-size:1.4rem;">USERNAME</span>
            </div>

            <div class="col-sm-4">
                <span style="font-size:20px;">EMAIL</span>
            </div>

            <div class="col-sm-3">
                <span style="font-size:20px;">RANK</span>
            </div>

            <div class="col-xs">

            </div>

            <div class="col-xs">

            </div>

            <div class="col-xs">

            </div>

        </div>

        <div class="row" th:each="member: ${@ms.getMembers()}" id="rowMember2">
            <div class="col-sm-4">
                <span th:text="${member.username}"></span>
            </div>

            <div class="col-sm-4">
                <span th:text="${member.email}"></span>
            </div>

            <div class="col-sm-3">
                <span th:text="${member.rank}"></span>
            </div>

            <div class="col-xs">

                <span th:if="${@postController.isMemberLogged()}">
                            <span th:unless="${@memberController.isBanned(member.id)}">
                                <a style="color:red" class="mytooltip" th:href='${"/banmember?id="+member.id}'>
                                    <img style="width:30px;height:30px;" src="images\unban.png"/>
                                    <span class="mytooltiptext">BAN THIS MEMBER</span>
                                </a>
                            </span>
                        </span>
                <span th:if="${@memberController.isBanned(member.id)}">
                            <a style="color:red" class="mytooltip" th:href='${"/banmember?id="+member.id}'>
                                <img style="width:30px;height:30px;" src="images\ban.png"/>
                                <span class="mytooltiptext">UNBAN THIS MEMBER</span>
                            </a>
                        </span>
            </div>

            <div class="col-xs">
                            <span>
                                <a class="mytooltip" th:href='${"/promotemember?id="+member.id}'>
                                    <img style="width:30px;height:30px;" src="images\promote.png"/>
                                    <span class="mytooltiptext">PROMOTE TO ADMIN</span>
                                </a>
                            </span>
            </div>

            <div class="col-xs">
                            <span>
                                <a class="mytooltip" th:href='${"/deletemember?id="+member.id}'>
                                    <img style="width:30px;height:30px;" src="images\bin.png"/>
                                <span class="mytooltiptext">DELETE MEMBER ACCOUNT</span>
                                </a>
                            </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>