<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/css/stylesheet.css" />
</head>
<body>

	<div>
		<form action="/loginmember" method="post"> <!-- method post - NOT show password in URL -->
			<table>
			<tr>
			<td colspan = "2"><label><b>Login</b> to an existing Phorum account</label></td>
			</tr>
				<tr>
					<td><label>Username:</label></td>
					<td><input type="text" name="username" required="required" /></td>
				</tr>
				<tr>
					<td><label>Password:</label></td>
					<td><input type="password" name="password" required="required" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit"
						value="Login" /></td>
				</tr>
				<tr>
					<td colspan="2"><b><span th:text="${message}"></span></b></td>
				</tr>
				<tr>
				<td colspan="2">or <a style="text-decoration: underline;" href="registermember">Register new account!</a></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>
