<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-2"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <title>Section</title>
</head>
<body bgcolor="white">
<div th:replace="fragments::header"></div>

<div th:if="${@memberController.admin}">
    <div th:replace="fragments::members"></div>
</div>
<div id="content">
    <a class="white" href="/">Back to Homepage</a>
</div>
<div th:replace="fragments::footer"></div>
</body>
</html>
