<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-2"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <title>Section</title>
</head>
<body bgcolor="white">
<div id="content">
    <h1 style="color: white;">Welcome to Phorum!</h1>
    <div th:unless="${@memberController.logged}">
        <a class="white" href="/loginmember">Login</a> or <a class="white"
                                                             href="/registermember">Register</a>
    </div>
    <div th:if="${@memberController.logged}">
			<span th:if="${@memberController.logged}"> You are logged as <a class="white" href="/"
                                                                            th:text="${@memberController.loggedUsername}"></a><span>.</span> <a
                    class="white" href="/logoutmember">Logout</a>
			</span>
    </div>
</div>

<div th:replace="fragments::topics"></div>
<div th:if="${@memberController.member}">
    <span th:replace="fragments::addtopic"></span>
</div>
<div th:replace="fragments::footer"></div>
</body>
</html>
